

.brand-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px; /* Adjust the width of the logo as needed */
    height: auto; /* Automatically adjust the height based on the width */
    z-index: 999; /* Ensure the logo appears above other content */
}