html, body {
    height: 100%;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://t4.ftcdn.net/jpg/02/74/59/21/360_F_274592125_dTRTlmsYeyJlQ0YIdb5ueZKfsBkmzNSS.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; /* Ensure flex container stretches vertically */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#symptoms textarea {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 5px; 
    resize: none;
}

#symptoms textarea::placeholder {
    color: rgba(22, 22, 22, 0.5);
    opacity: 100%;
}

#diagnose {
    margin-top: 10px;
}

form button{
    background-color: green;
    color: red;
}

#result-container {
    display: none;
    margin-top: 20px; /* Adjust as needed */
}

.result-box {
    background-color: rgb(116, 53, 212);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* Adjust the margin bottom as needed */
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    height: auto;
    text-align: center;
}

/* Ensure result container stretches to fill remaining space */
#result-container {
    flex-grow: 1;
}

.brand-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px; /* Adjust the width of the logo as needed */
    height: auto; /* Automatically adjust the height based on the width */
    z-index: 999; /* Ensure the logo appears above other content */
}